@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color: #ffde59 ;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
 
.header {
    background-image: url(imagenes/portada.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #E9381B;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #000;
    font-weight: 600;
    display: block;
}



.header-content {
    display: flex; 
}

.header-txt {
    flex-basis: 50%;
}

.header-txt h1 {
    font-size: 60px;
    color:#262626 ; 
}

.header-txt span {
    color: #AD7900;
}

.header-txt p {
    font-size: 17px;
    color: #818181;
    margin-bottom: 45px;
}

.butons {
    display: flex;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #E9381B;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: #AD7900;
    cursor: pointer;
    transition: color 0.3s ease;
} 
.btn-2, .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #E9381B;
    border-radius: 25px;
    margin-right: 25px;
    font-size: 17px;
    color: #faf8f8;
}

.btn-1:hover {
    background-color: #E9381B;
    color: #ffffff; 
}

.popular {
    padding: 100px 0;
    text-align: center;
}

h2 {
    color: #024aac;
    font-size: 35px;
    margin-bottom: 45px;
}

.popular-content {
    display: block;
    justify-content: space-between;
}

.popular-content img {
    width: 700
px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.product-1 {
    background-color: #024aac;
}
.product-txt {
    padding: 50px 30px;
}

h3 {
    font-size: 20px;
    color:#ffde59 ;
    margin-bottom: 20px;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price p {
    font-size: 17px;
    color: #000;
}

.btn-2 {
    padding: 5px 25px;
    background-color: #E9381B;
    margin-right: 0;
}

.contact {
    padding: 200xp 350px;
}

.contact .container {
    padding: 50%;
}

.contact-content {
    background-color: #0087d1;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

input {
    padding: 18px 25px;
    background-color: #E9381B;
    border-color: white;
    border-style: solid;
    border-radius: 25px;
    outline: none;
    outline: #faf8f8;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;   
}

::placeholder {
    color: #e0e0e0;
    font-size: 17px;
}

.btn-3 {
    background-color: #E9381B;
    cursor: pointer;
    margin-right: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.link ul {
    display: flex;
}

.link ul li > a {
    font-size: 17px;
    color: #ffffff;
    margin-right: 20 px;
}

.link ul li > a:hover {
    color: #E9381B;
}

@media(max-width:991px) {
    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar ul li a:hover {
        color: #024aac;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
        padding: 80px 30px 50px 30px;
    }

    .header-txt {
        text-align: center;
        flex-basis: 100%;
    }
    .heaer txt h1 {
        font-size: 50px;
        margin-bottom: 15px;
    }
    .butons {
        justify-content: center;
    }

    .btn-1:last-of-type {
        margin-right: 0;
    }

    .popular {
        display: none;
    }

    .product {
        padding: 30px;
    }
    .product-content {
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
    }
    
    .product-1 img {
        width: 100%;
    }

    .contact {
        padding: 50%;
    }

    form {
        flex-direction: column;
    }

    input {
        margin: 0 0 20px 0;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .link ul {
        margin-top: 20px;
    }
  
}
